# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popoular data science languages
- List common data science libraries
- List popular data science tools

Some of the most popular data science languages include the following:

1) Python
2) R
3) SQL

Here are some common data science libraries:
 1) Pandas
 2) Numpy
 3) Matplotlib

|Data Science Tools|
------------------
|TensorFlow|
|RStudio|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expession to mulitply and then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

## Author
Hannah P